.div-teste{
    height: 250px;
    border: 2px solid black;
}

.teste-filho{
   text-align: center;
   height: 250px;
}

.memoria{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    margin-left: 37.5px;
    margin-top: 51px;
}

.cpu{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    margin-left: 37.5px;
    margin-top: 51px;


}

.disco{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    margin-left: 37.5px;
    margin-top: 51px


}

.infos{
    border: 2px solid black;
    margin-left: 10px;
    height: 150px;
    width: 200px;
    margin-top: 15px;
}