html{scroll-behavior: smooth;}
body{margin: 0px;}

.invisivel{
  display: none;
  position: absolute;
}

.visivel{
  
  position: fixed;
  bottom: 2.392vw;
  left: 2.196vw;
  width: 4.320vw;
  z-index: 1;
  display: block;
}

  .flex{
    display: flex;
    text-align: center;
    background-size: cover;
  }
  .space{
    border: solid black;
  }
  .divImage{
    width: 50%;
    height: 42em;
    background-color: rgba(255, 0, 0, 0.1);
  }
  .divText{
    text-align: -webkit-center;
    width: 50%;
    height: 42em;
    background-color: rgba(0, 0, 255, 0.1);
  }
  .divContact{
    text-align: -webkit-center;
    width: 50%;
    height: 37em;
    background-color: rgba(0, 255, 0, 0.15);
    font-weight: bold;
  }
  .divMap{
    width: 50%;
    height: 37em;
    background-color: rgba(0, 255, 0, 0.15);
  }
  form{
    text-align: -webkit-center;
    width: 80%;
    background-color: rgba(240, 248, 255, 0.6); 
  }
  img{
    width: 23vw;
    margin-top: 110px;
  }
  h1{
    font-size: 60px;
    width: 80%;
    background-color: rgba(240, 248, 255, 0.6); 
    font-style: italic;
  }
  p{
    background-color: rgba(240, 248, 255, 0.6);
    margin-top: 3em;
    font-size: 30px;
    width: 80%;
  }
  input{
    margin-top: 30px;
    width: 80%;
    border-color: black;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.678);
    border-radius: 10px;

  }
  button{
    margin-top: 30px;
    transition: 1s;
    width: 200px;
    height: 30px;
    border: solid 2px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(0, 180, 0);
  }
  button:hover{
    background-color: rgb(0, 120, 0);
    transition: 1s;
  }
  iframe{                   /* tamanho do maps na div colocada */
    margin-top: 10%;
    border: solid red;
    width: 80% !important;
    height: 80% !important;
}